DiscordSnipIntegration/bin/Debug/.locale/en-US.locale
DiscordSnipIntegration/bin/Debug/Applications/Snip-v5.3.1.7z
DiscordSnipIntegration/bin/Debug/Applications/Snip/AUTHORS.md
DiscordSnipIntegration/bin/Debug/Applications/Snip/CHANGES.md
DiscordSnipIntegration/bin/Debug/Applications/Snip/LICENSE.md
DiscordSnipIntegration/bin/Debug/Applications/Snip/README.md
DiscordSnipIntegration/bin/Debug/Applications/Snip/Resources/Strings.de-AT.resources
DiscordSnipIntegration/bin/Debug/Applications/Snip/Resources/Strings.de-CH.resources
DiscordSnipIntegration/bin/Debug/Applications/Snip/Resources/Strings.de-DE.resources
DiscordSnipIntegration/bin/Debug/Applications/Snip/Resources/Strings.fr-FR.resources
DiscordSnipIntegration/bin/Debug/Applications/Snip/Resources/Strings.nb-NO.resources
DiscordSnipIntegration/bin/Debug/Applications/Snip/Resources/Strings.nl-NL.resources
DiscordSnipIntegration/bin/Debug/Applications/Snip/Resources/Strings.resources
DiscordSnipIntegration/bin/Debug/Applications/Snip/Resources/Strings.sv-SE.resources
DiscordSnipIntegration/bin/Debug/DiscordSnipIntegration.exe.config
DiscordSnipIntegration/bin/Debug/DiscordSnipIntegration.vshost.exe.config
DiscordSnipIntegration/bin/Debug/License.txt
DiscordSnipIntegration/bin/Debug/Settings.conf
DiscordSnipIntegration/bin/Release/Discord Snip Integration 1.0 (ALPHA).zip
DiscordSnipIntegration/bin/Release/License.txt
DiscordSnipIntegration/bin/x86/Debug/DiscordSnipIntegration.exe.config
DiscordSnipIntegration/bin/x86/Debug/DiscordSnipIntegration.vshost.exe.config
DiscordSnipIntegration/obj/Debug/Common.cs
DiscordSnipIntegration/obj/Debug/Costura/08CB051E4DF458CAD1D707C5E5B14600A32115E7.costura.system.data.sqlite.linq.dll.zip
DiscordSnipIntegration/obj/Debug/Costura/0F54DC5F6FD65C2A541B864F74ED5A08094B9165.costura.octokit.dll.zip
DiscordSnipIntegration/obj/Debug/Costura/100205DFCE9AE7FA8C48144ADDEADAFC9ECE6035.costura.discord.net.commands.dll.zip
DiscordSnipIntegration/obj/Debug/Costura/258279A17F139426194D352FB03742429CC605A7.costura.sevenzipsharp.dll.zip
DiscordSnipIntegration/obj/Debug/Costura/2A9E4202B7DF61EB3D3BB87273A9D06A8DE834AF.costura.octokit.pdb.zip
DiscordSnipIntegration/obj/Debug/Costura/377C51A24E7ABF63628742D948480EF0E6675624.costura.system.text.encodings.web.dll.zip
DiscordSnipIntegration/obj/Debug/Costura/3E9994D46AD753D0C9BA901E5FC1E10DD2EA6EC9.costura.sevenzipsharp.pdb.zip
DiscordSnipIntegration/obj/Debug/Costura/4DD8044DA6633615FA240E5AAA35F8736E3E5027.costura.discordsharp.dll.zip
DiscordSnipIntegration/obj/Debug/Costura/4E750E1DFE71FFE73E127173331089E5FA1FC882.costura.entityframework.dll.zip
DiscordSnipIntegration/obj/Debug/Costura/5E141B2FC67CB0E94925F23721BD6CD25AF22F94.costura.nito.asyncex.dll.zip
DiscordSnipIntegration/obj/Debug/Costura/6B0DA75617A2269493DC1A685D7A0B07F2E48C75.costura.newtonsoft.json.dll.zip
DiscordSnipIntegration/obj/Debug/Costura/70E78A3C1080DBDB77A55EBE658F1C26ABB965CF.costura.discordsharp.pdb.zip
DiscordSnipIntegration/obj/Debug/Costura/73B21BABFFD0EAC5652F0FFB8B8C639901B54060.costura.webkit.interop.dll.zip
DiscordSnipIntegration/obj/Debug/Costura/76244C45E8762A35546C35248EFDDA675657EC6B.costura.discord.net.dll.zip
DiscordSnipIntegration/obj/Debug/Costura/77D4AB55080341B84C36EB5A4082FD2CE8F1F2FF.costura.websocket-sharp.dll.zip
DiscordSnipIntegration/obj/Debug/Costura/7FD09921BA2B905B930229B87B1CAD0D2ACF99EC.costura.entityframework.sqlserver.dll.zip
DiscordSnipIntegration/obj/Debug/Costura/85BB4B563EABD160569F33DBA2A52816E036A4D0.costura.restsharp.dll.zip
DiscordSnipIntegration/obj/Debug/Costura/8AE36111B9B3954EB46B9948356E70131E0ED3BD.costura.nito.asyncex.concurrent.dll.zip
DiscordSnipIntegration/obj/Debug/Costura/91C656E4C4DF47EAAD8D576CD334208CFB2C1907.costura.webkitbrowser.dll.zip
DiscordSnipIntegration/obj/Debug/Costura/A3B8E87D2975B8B7CB5656A16D3794E85AEB8166.costura.naudio.dll.zip
DiscordSnipIntegration/obj/Debug/Costura/AEE442E362E72F77D8989326C7B103FEF208DE55.costura.stdole.dll.zip
DiscordSnipIntegration/obj/Debug/Costura/B64A7C4F2531D7B024A8BD686018E65AA43D4ABE.costura.discord.net.modules.dll.zip
DiscordSnipIntegration/obj/Debug/Costura/C373D326E699E66AC8340FD9EBA8A0236D15EB8D.costura.system.data.sqlite.ef6.dll.zip
DiscordSnipIntegration/obj/Debug/Costura/C3D0FC97CE504B986CCD3F2764637A415FAC0AFE.costura.skybound.gecko.dll.zip
DiscordSnipIntegration/obj/Debug/Costura/CAC5E36DC498D6BB16170020BE021FF5BD18A9E2.costura.newtonsoft.json.dll.zip
DiscordSnipIntegration/obj/Debug/Costura/EC8349523BA7337F4C443B59070E21A1CFC7AA45.costura.websocket4net.dll.zip
DiscordSnipIntegration/obj/Debug/Costura/F35DC8929A4F6BFB36CC35018D7D46D9A1E9EEA1.costura.nito.asyncex.enlightenment.dll.zip
DiscordSnipIntegration/obj/Debug/Costura/F7F855F669B7CED3A4D7B71ACBE52A57475F16F5.costura.system.data.sqlite.dll.zip
DiscordSnipIntegration/obj/Debug/DiscordSnipIntegration.csproj.FileListAbsolute.txt
DiscordSnipIntegration/obj/Debug/ILTemplate.cs
DiscordSnipIntegration/obj/Debug/ILTemplateWithTempAssembly.cs
DiscordSnipIntegration/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DiscordSnipIntegration/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DiscordSnipIntegration/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DiscordSnipIntegration/obj/Release/Common.cs
DiscordSnipIntegration/obj/Release/Costura/08CB051E4DF458CAD1D707C5E5B14600A32115E7.costura.system.data.sqlite.linq.dll.zip
DiscordSnipIntegration/obj/Release/Costura/0F54DC5F6FD65C2A541B864F74ED5A08094B9165.costura.octokit.dll.zip
DiscordSnipIntegration/obj/Release/Costura/100205DFCE9AE7FA8C48144ADDEADAFC9ECE6035.costura.discord.net.commands.dll.zip
DiscordSnipIntegration/obj/Release/Costura/2A9E4202B7DF61EB3D3BB87273A9D06A8DE834AF.costura.octokit.pdb.zip
DiscordSnipIntegration/obj/Release/Costura/377C51A24E7ABF63628742D948480EF0E6675624.costura.system.text.encodings.web.dll.zip
DiscordSnipIntegration/obj/Release/Costura/4E750E1DFE71FFE73E127173331089E5FA1FC882.costura.entityframework.dll.zip
DiscordSnipIntegration/obj/Release/Costura/5E141B2FC67CB0E94925F23721BD6CD25AF22F94.costura.nito.asyncex.dll.zip
DiscordSnipIntegration/obj/Release/Costura/6B0DA75617A2269493DC1A685D7A0B07F2E48C75.costura.newtonsoft.json.dll.zip
DiscordSnipIntegration/obj/Release/Costura/76244C45E8762A35546C35248EFDDA675657EC6B.costura.discord.net.dll.zip
DiscordSnipIntegration/obj/Release/Costura/7FD09921BA2B905B930229B87B1CAD0D2ACF99EC.costura.entityframework.sqlserver.dll.zip
DiscordSnipIntegration/obj/Release/Costura/85BB4B563EABD160569F33DBA2A52816E036A4D0.costura.restsharp.dll.zip
DiscordSnipIntegration/obj/Release/Costura/8AE36111B9B3954EB46B9948356E70131E0ED3BD.costura.nito.asyncex.concurrent.dll.zip
DiscordSnipIntegration/obj/Release/Costura/B64A7C4F2531D7B024A8BD686018E65AA43D4ABE.costura.discord.net.modules.dll.zip
DiscordSnipIntegration/obj/Release/Costura/C373D326E699E66AC8340FD9EBA8A0236D15EB8D.costura.system.data.sqlite.ef6.dll.zip
DiscordSnipIntegration/obj/Release/Costura/EC8349523BA7337F4C443B59070E21A1CFC7AA45.costura.websocket4net.dll.zip
DiscordSnipIntegration/obj/Release/Costura/F35DC8929A4F6BFB36CC35018D7D46D9A1E9EEA1.costura.nito.asyncex.enlightenment.dll.zip
DiscordSnipIntegration/obj/Release/Costura/F7F855F669B7CED3A4D7B71ACBE52A57475F16F5.costura.system.data.sqlite.dll.zip
DiscordSnipIntegration/obj/Release/DiscordSnipIntegration.csproj.FileListAbsolute.txt
DiscordSnipIntegration/obj/Release/ILTemplate.cs
DiscordSnipIntegration/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DiscordSnipIntegration/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DiscordSnipIntegration/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DiscordSnipIntegration/obj/x86/Debug/Common.cs
DiscordSnipIntegration/obj/x86/Debug/Costura/258279A17F139426194D352FB03742429CC605A7.costura.sevenzipsharp.dll.zip
DiscordSnipIntegration/obj/x86/Debug/Costura/377C51A24E7ABF63628742D948480EF0E6675624.costura.system.text.encodings.web.dll.zip
DiscordSnipIntegration/obj/x86/Debug/Costura/3E9994D46AD753D0C9BA901E5FC1E10DD2EA6EC9.costura.sevenzipsharp.pdb.zip
DiscordSnipIntegration/obj/x86/Debug/Costura/4DD8044DA6633615FA240E5AAA35F8736E3E5027.costura.discordsharp.dll.zip
DiscordSnipIntegration/obj/x86/Debug/Costura/6B0DA75617A2269493DC1A685D7A0B07F2E48C75.costura.newtonsoft.json.dll.zip
DiscordSnipIntegration/obj/x86/Debug/Costura/70E78A3C1080DBDB77A55EBE658F1C26ABB965CF.costura.discordsharp.pdb.zip
DiscordSnipIntegration/obj/x86/Debug/Costura/73B21BABFFD0EAC5652F0FFB8B8C639901B54060.costura.webkit.interop.dll.zip
DiscordSnipIntegration/obj/x86/Debug/Costura/77D4AB55080341B84C36EB5A4082FD2CE8F1F2FF.costura.websocket-sharp.dll.zip
DiscordSnipIntegration/obj/x86/Debug/Costura/85BB4B563EABD160569F33DBA2A52816E036A4D0.costura.restsharp.dll.zip
DiscordSnipIntegration/obj/x86/Debug/Costura/91C656E4C4DF47EAAD8D576CD334208CFB2C1907.costura.webkitbrowser.dll.zip
DiscordSnipIntegration/obj/x86/Debug/Costura/A3B8E87D2975B8B7CB5656A16D3794E85AEB8166.costura.naudio.dll.zip
DiscordSnipIntegration/obj/x86/Debug/Costura/AEE442E362E72F77D8989326C7B103FEF208DE55.costura.stdole.dll.zip
DiscordSnipIntegration/obj/x86/Debug/Costura/EC8349523BA7337F4C443B59070E21A1CFC7AA45.costura.websocket4net.dll.zip
DiscordSnipIntegration/obj/x86/Debug/DiscordSnipIntegration.csproj.FileListAbsolute.txt
DiscordSnipIntegration/obj/x86/Debug/ILTemplateWithTempAssembly.cs
DiscordSnipIntegration/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DiscordSnipIntegration/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DiscordSnipIntegration/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DiscordSnipIntegration/bin/Debug/.locale/es-MX.locale
DiscordSnipIntegration/bin/Debug/Resources/Strings.de-AT.resources
DiscordSnipIntegration/bin/Debug/Resources/Strings.de-CH.resources
DiscordSnipIntegration/bin/Debug/Resources/Strings.de-DE.resources
DiscordSnipIntegration/bin/Debug/Resources/Strings.fr-FR.resources
DiscordSnipIntegration/bin/Debug/Resources/Strings.nb-NO.resources
DiscordSnipIntegration/bin/Debug/Resources/Strings.nl-NL.resources
DiscordSnipIntegration/bin/Debug/Resources/Strings.resources
DiscordSnipIntegration/bin/Debug/Resources/Strings.sv-SE.resources
DiscordSnipIntegration/bin/Debug/Snip.txt
DiscordSnipIntegration/bin/Debug/Snip_Artwork.jpg
DiscordSnipIntegration/bin/Release/.locale/en-US.locale
DiscordSnipIntegration/bin/Release/.locale/es-MX.locale
DiscordSnipIntegration/bin/Release/Create.ps1
DiscordSnipIntegration/bin/Release/DiscordSnipIntegration 1.0 (Beta).zip
DiscordSnipIntegration/bin/Release/DiscordSnipIntegration.exe.config
DiscordSnipIntegration/bin/Release/DiscordSnipIntegration.vshost.exe.config
DiscordSnipIntegration/bin/Release/DiscordSnipIntegration.vshost.exe.manifest
DiscordSnipIntegration/bin/Release/Resources/Strings.de-AT.resources
DiscordSnipIntegration/bin/Release/Resources/Strings.de-CH.resources
DiscordSnipIntegration/bin/Release/Resources/Strings.de-DE.resources
DiscordSnipIntegration/bin/Release/Resources/Strings.fr-FR.resources
DiscordSnipIntegration/bin/Release/Resources/Strings.nb-NO.resources
DiscordSnipIntegration/bin/Release/Resources/Strings.nl-NL.resources
DiscordSnipIntegration/bin/Release/Resources/Strings.resources
DiscordSnipIntegration/bin/Release/Resources/Strings.sv-SE.resources
DiscordSnipIntegration/bin/Release/Settings.conf
DiscordSnipIntegration/obj/Debug/DiscordSnipIntegration.DSI.resources
DiscordSnipIntegration/obj/Debug/DiscordSnipIntegration.Eula.resources
DiscordSnipIntegration/obj/Debug/DiscordSnipIntegration.Properties.Resources.resources
DiscordSnipIntegration/obj/Debug/DiscordSnipIntegration.Snip.OutputFormat.resources
DiscordSnipIntegration/obj/Debug/DiscordSnipIntegration.Snip.Snip.resources
DiscordSnipIntegration/obj/Release/DiscordSnipIntegration.DSI.resources
DiscordSnipIntegration/obj/Release/DiscordSnipIntegration.Eula.resources
DiscordSnipIntegration/obj/Release/DiscordSnipIntegration.Properties.Resources.resources
DiscordSnipIntegration/obj/Release/DiscordSnipIntegration.Snip.OutputFormat.resources
DiscordSnipIntegration/obj/Release/DiscordSnipIntegration.Snip.Snip.resources
packages/Octokit.0.20.0/LICENSE.txt
packages/Octokit.0.20.0/Octokit.0.20.0.nupkg
packages/Octokit.0.20.0/README.md
packages/Octokit.0.20.0/ReleaseNotes.md
packages/Octokit.0.20.0/lib/net45/Octokit.XML
packages/Octokit.0.20.0/lib/netcore451/Octokit.XML
packages/Octokit.0.20.0/lib/portable-net45+wp80+win+wpa81/Octokit.XML
packages/Octokit.0.20.0/linqpad-samples/1-introducing-octokit.linq
packages/Octokit.0.20.0/linqpad-samples/10-search-issues.linq
packages/Octokit.0.20.0/linqpad-samples/2-releases.linq
packages/Octokit.0.20.0/linqpad-samples/3-browse-repositories.linq
packages/Octokit.0.20.0/linqpad-samples/4-observable-browse-repositories.linq
packages/Octokit.0.20.0/linqpad-samples/5-interact-with-git-database.linq
packages/Octokit.0.20.0/linqpad-samples/6-create-repository.linq
packages/Octokit.0.20.0/linqpad-samples/7-search-for-repos.linq
packages/Octokit.0.20.0/linqpad-samples/8-gists.linq
packages/Octokit.0.20.0/linqpad-samples/9-issues.linq
